/* * Main styles * */

body {
	background-color: #1f202b;
	font-family: 'Montserrat', sans-serif;
}

.full-width {
	width: 1400px;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}


.third-width {
	width: 400px;
	float: left;
}

/* * Header styles * */

header .full-width {
	background-image: url("../img/hero-background.png");
	background-size: 1200px 750px;
	background-repeat: no-repeat;
	margin-top: 50px;
}

#name {
	color: #fff;
	font-size: 20px;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav li {
	padding: 20px;
	float: left;
}

.main-nav li a {
	text-decoration: none;
	color: #fff;
}

header h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 50px;
	color: #fff;
}

header h1 span {
	color: #f70074;
}


/* * Portfolio styles * */

#portfolio h2 {
	font-family: 'Source Code Pro', monospace;
	color: #f70074;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

#portfolio p,
#portfolio h3 {
	color: #fff;
	font-size: 24px;
}

.portfolio-img-left {
	display: inline-block;
	width: 550px;
	height: 350px;
	margin: 50px 50px 50px 100px;
}

.portfolio-img-right {
	display: inline-block;
	width: 550px;
	height: 350px;
	margin: 50px 100px 50px 50px;
}

.portfolio-text-left {
	display: inline-block;
	width: 550px;
	height: 350px;
	margin: 50px 50px 50px 100px;
}

.portfolio-text-right {
	display: inline-block;
	width: 550px;
	height: 350px;
	margin: 50px 100px 50px 50px;
}

#portfolio h3 {
	margin-top: 0;
}

/* * About styles * */

#about {
	background-image: url(../img/about-me.png);
	height: 550px;
	width: 1400px;
}

#about h2 {
	font-family: 'Source Code Pro', monospace;
	color: #f70074;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	padding-top: 50px;
}

#about p {
	font-size: 24px;
	margin-left: 100px;
}

/* * Contact styles * */




