/* * Main styles * */

body {
	background-color: #1f202b;
	font-family: 'Montserrat', sans-serif;
}

.full-width {
	width: 1200px;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}


.third-width {
	width: 400px;
	float: left;
}

/* * Header styles * */

header .full-width {
	background-image: url("../img/hero-background.png");
	background-size: 1200px 750px;
	background-repeat: no-repeat;
	margin-top: 50px;
}

#name {
	color: #fff;
	font-size: 20px;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav li {
	padding: 20px;
	float: left;
}

.main-nav li a {
	text-decoration: none;
	color: #fff;
}

header h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 50px;
	color: #fff;
}

header h1 span {
	color: #f70074;
}


/* * Portfolio styles * */

#portfolio h2 {
	font-family: 'Source Code Pro', monospace;
	color: #f70074;
	font-size: 36px;
	text-align: center;
}

#portfolio p,
#portfolio h3 {
	color: #fff;
	font-size: 24px;
}


#portfolio h3 {
	margin-top: 0;
}

.portfolio-img {
	width: 500px;
	height: 300px;
	margin: 0 50px 50px;
}

.portfolio-text {
	margin: 0 50px 50px 50px;
}


/* * About styles * */

#about {
	background-image: url(../img/about-me.png);
	background-size: 100%;
	background-repeat: no-repeat;
}



/* * Contact styles * */




